/* 전체선택자 */
* {
    padding: 0px;
    margin: 0px;
}

/* 조상자손선택자 */
header ul {
    background-color: green;
    color: white;
}

/* 속성선택자 */
h2[class] {
    color: yellow;
}

/* 클래스선택자 */
.g1 {
    /* 배경색과 글자색 */
    background-color: blue;
    color: white;

    /* 가로와 세로 */
    width: 50%;
    height: 80px;

    /* 안쪽여백 */
    padding: 10px;

    /* 바깥여백 */
    margin: 10px;

    /* 패딩과마진을 포함 */
    box-sizing: border-box;
    display: flex;
    justify-content:center;
}

.g2 {
    background-color: red;
    color: white;
}


/* 아이디선택자 */
#html {
    background-color: blueviolet;
    color: white;
}

/* 부모자식선택자 */
footer>ul {
    background-color: black;
    color: white;
}

/* 그룹선택자 */
#s1, s2{
    background-color:gainsboro;
}

/* 인라인스타일 변경 */
strong{
    background-color:brown;
    color:white;

    display: inline-block;
    height:40px;
    width:50%;
}

/* 구글폰트 */
article > p {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
}

/* 플렉스박스로 묶기 */
.fbox{
    display: flex;
    flex-direction: row;
}

/* 플랙스 박스 안 사진과 글 사이 여백 */
.fbox > div{
    margin-right: 20px;
}

/* 동그란이미지 */
img {
    border-radius:50%;
}

ul > li{
    list-style: none;
    display: flex;
}