main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/* align-items: center; */
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 10px;
    background-color: rgb(134, 134, 221);
    color:white;
    border-radius: 5px;
    border: 0px;
}

button:hover {
    background-color: brown;
    cursor: pointer;
}
