
#mvMain{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.divDt,.mvul{
    display: flex;
    flex-direction: column;
    
  
}

.divDt{
    margin-top: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
ul {
  list-style: none;
}

.spRank{
    display: inline-flex; /*위드하고 하이 가질수있음*/
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px;
}

/*리스트 글자커서색깔변경*/
.spMv:hover {
    color:blueviolet;
}

/*리스트 배경커서색깔변경*/
li:hover{
    color:rgb(134, 134, 221);
}