.nlist , .btArea{
    width: 80%;
    padding: 10px;
    display: flex; 
    justify-content: content;
    align-items: center;
    
}

.nlist {
    height: 80px;
}

/*flex: 정렬, margin: 여백, font-weigh: 볼드체 */
.nlist > span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;  
    font-weight: bold;

    /*bg없애기 색깔 나오게*/

    color:rgb(98, 91, 91);
    margin: 5px;
}

/* 각 동그라미 색상 다르게 만들기 */
.sp0{
    background-color: rgb(251, 246, 150);
}
.sp1{
    background-color: rgb(214, 251, 150);
}
.sp2{
    background-color: rgb(169, 150, 251);
}
.sp3{
    background-color: rgb(251, 150, 170);
}
.sp4{
    background-color: rgb(150, 224, 251);
}
.spPlus{
    font-size: large;
    font-weight: bolder;
}